---
http_interactions:
- request:
    method: post
    uri: https://d3v-5752.zendesk.com/api/v2/requests.json
    body:
      encoding: UTF-8
      string: '{"request":{"requester":{"name":"Bob Clams","email":"bclams@workarea.com"},"subject":"TEST
        IGNORE ME","comment":{"body":"I''ve crashed my car on the internet super highway"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZW1haWxAZXhhbXBsZS5jb20vdG9rZW46eW91cnRva2Vu
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v3010.64
      Location:
      - https://d3v-5752.zendesk.com/api/v2/requests/33.json
      X-Rate-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '700'
      Etag:
      - W/"bbd5d2a43f0cc508b6fb70b7cb1039cb"
      X-Zendesk-Origin-Server:
      - classic-app-server-79686774f-mfjl2
      X-Zendesk-Request-Id:
      - e6f89e3c3d4d6cf79f53
    body:
      encoding: UTF-8
      string: '{"request":{"url":"https://d3v-5752.zendesk.com/api/v2/requests/33.json","id":33,"status":"new","priority":null,"type":null,"subject":"TEST
        IGNORE ME","description":"I''ve crashed my car on the internet super highway","organization_id":null,"via":{"channel":"api","source":{"from":{},"to":{},"rel":null}},"custom_fields":[],"requester_id":388560052351,"collaborator_ids":[],"email_cc_ids":[],"is_public":true,"due_at":null,"can_be_solved_by_me":false,"created_at":"2019-10-14T19:31:26Z","updated_at":"2019-10-14T19:31:26Z","recipient":null,"followup_source_id":null,"assignee_id":null,"ticket_form_id":360000438171,"fields":[]}}'
  recorded_at: Mon, 14 Oct 2019 19:31:26 GMT
recorded_with: VCR 2.9.3
