---
http_interactions:
- request:
    method: post
    uri: https://d3v-5752.zendesk.com/api/v2/requests.json
    body:
      encoding: UTF-8
      string: '{"request":{"requester":{"name":"Bob Clams","email":"bclams"},"subject":"TEST
        IGNORE ME","comment":{"body":"I''ve crashed my car on the internet super highway"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic ZW1haWxAZXhhbXBsZS5jb20vdG9rZW46eW91cnRva2Vu
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Zendesk-Api-Version:
      - v2
      X-Zendesk-Application-Version:
      - v3010.65
      X-Rate-Limit:
      - '700'
      X-Rate-Limit-Remaining:
      - '700'
      X-Zendesk-Origin-Server:
      - classic-app-server-569cc7685d-d7z64
      X-Zendesk-Request-Id:
      - 96be25382f09a3a1892d
    body:
      encoding: UTF-8
      string: '{"error":"RecordInvalid","description":"Record validation errors","details":{"requester":[{"description":"Requester:
        Email:  bclams is not properly formatted"}]}}'
  recorded_at: Tue, 15 Oct 2019 14:15:09 GMT
recorded_with: VCR 2.9.3
